@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  outline: none;
  text-decoration: none;
  list-style: none;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}
/* nav section start */
nav {
  background-color: #f7f7f7;
  padding: 50px 0;
}
.menu {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.menu li {
  list-style: none;
}

.menu li a {
  color: #000000;
  font-weight: bold;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.4s all;
  -webkit-transition: 0.4s all;
  -moz-transition: 0.4s all;
  -ms-transition: 0.4s all;
  -o-transition: 0.4s all;
  position: relative;
}
.menu li a::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0%;
  /* visibility: hidden;
  opacity: 0; */
  transition: 0.4s all;
  -webkit-transition: 0.4s all;
  -moz-transition: 0.4s all;
  -ms-transition: 0.4s all;
  -o-transition: 0.4s all;
}

.menu li a:hover {
  color: blue;
}
.menu li a:hover::after {
  visibility: visible;
  opacity: 1;
  border: 1px solid #195ea9;
  width: 100%;
}
/* nav section end */

/* news section(second section) start   */
.news {
  margin: 50px 0;
}
span {
  color: #a0a0a0;
}
.main_news {
  display: flex;
  gap: 20px;
}
.main_news_left {
  width: 70%;
}
.main_news_right {
  width: 30%;
}
.main_news_left h3,
.news_card h3 {
  font-size: 32px;
  font-weight: bold;
  line-height: 1.15em;
  margin-top: 15px;
}
.news_card h3 {
  font-size: 24px !important;
  margin-bottom: 5px;
}

.main_news_left h3 a,
.news_card h3 a,
.more_news_content h3 a {
  color: #000;
  transition: 0.4s all;
  -webkit-transition: 0.4s all;
  -moz-transition: 0.4s all;
  -ms-transition: 0.4s all;
  -o-transition: 0.4s all;
}
.main_news_left h3 a:hover {
  color: #195ea9;
}
.main_news_left img {
  width: 100%;
}

.news_info {
  padding: 10px 0;
}
.main_news_left p {
  margin: 0 0 1.75em;
  text-rendering: optimizeLegibility;
  font-size: 18px;
}
.read_more {
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 15px;
  padding: 10px 18px;
  border: 1px solid #e0e0e0;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  text-rendering: auto;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.read_more:hover {
  color: #fff;
  background-color: #195ea9;
}
.main_news_left span {
  font-size: 14px;
}
.main_news_right img {
  width: 200px;
  height: 120px;
  object-fit: cover;
}
.other_news {
  display: flex;
  gap: 20px;
}
.other_news p {
  font-size: 20px;
  line-height: 1.25;
  font-weight: bold;
}
.other_news p a {
  color: #000;
  transition: 0.4s all;
  -webkit-transition: 0.4s all;
  -moz-transition: 0.4s all;
  -ms-transition: 0.4s all;
  -o-transition: 0.4s all;
}
.other_news p a:hover {
  color: #195ea9;
}
.other {
  margin-top: 8px;
}
.other_news:not(:nth-of-type(1)) {
  margin-top: 20px;
}
/* news section(second section) end   */

/* latest news section start  */
.news_cards {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}
.news_card {
  width: 32%;
}
.news_card img {
  width: 100%;
  object-fit: cover;
}
.news_cards p {
  line-height: 1.6;
}
.news_card h3 a:hover {
  color: #195ea9;
}
.latest_news {
  margin: 50px 0;
}
.latest_news h2 {
  margin: 20px 0;
}
.news_cards_2_left,
.news_cards_2_right {
  width: 50%;
}
.news_cards_2 {
  margin-top: 60px;
  display: flex;
  gap: 50px;
}
.news_cards_2_left img {
  object-fit: cover;
  width: 100%;
}
.other_cards {
  display: flex;
  gap: 30px;
  margin-top: 20px;
}
.other_cards > div {
  width: 50%;
}
.world {
  margin: 10px 0;
}
.info {
  font-size: 21px;
  font-weight: 700;
  line-height: 1.4;
  margin: 0 0 5px;
}
.info a {
  color: #000;
  transition: 0.4s all;
  -webkit-transition: 0.4s all;
  -moz-transition: 0.4s all;
  -ms-transition: 0.4s all;
  -o-transition: 0.4s all;
}
.info a:hover {
  color: #195ea9;
}
.more_news {
  display: flex;
  gap: 20px;
}
.more_news_content h3 {
  font-size: 24px;
}
.more_news_content h3 a:hover {
  color: #195ea9;
}
.more_news_content p {
  margin-top: 20px;
  line-height: 1.4;
  font-size: 18px;
}
.more_news_content,
.more_news_img {
  width: 50%;
}
.more_news_img img {
  width: 100%;
}
.more {
  text-align: center;
  margin-top: 30px;
}
.mt-20 {
  margin: 30px 0;
}
footer {
  background-color: #000;
  padding: 50px 0;
}
.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.footer .company {
  width: 30%;
}
.footer > div:not(:nth-of-type(1)) {
  width: 15%;
}
.company p {
  margin-top: 20px;
}
.footer h3 {
  margin-bottom: 20px;
  color: #fff;
}
.footer ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer a,
.footer p {
  color: #ababab;
}
.footer i {
  position: relative;
  right: 10px;
}
/* latest news section end  */
